.datepicker {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.datepicker-1 {
	width: 90%;
}
.datepicker-2 {
	border: 1px solid gray;
    border-radius: 15px;
    width: 450px;
}
.ui-datepicker-header {
	margin: 25px;
	font-size: 20px;
}
.ui-datepicker-calendar {
	width: 400px;
	height: 400px;
	margin: 25px auto;
}
.ui-datepicker-prev {
	display: none;
}
.ui-datepicker-next {
	display: none;
}
.ui-state-default {
	text-decoration: none;
	color: black;
	font: message-box;
	font-size: 30px;
}
.ui-priority-secondary {
	color: gray;
}
tbody {
	text-align: center;
}
tr {
	font-size: 28px;
}
.ui-state-default:hover {
	color: red;
	text-decoration: underline;
	border: 2px solid red;
	border-radius: 20px;
}
.ui-state-active {
	color: red;
	background-color: yellow;
}