.faq {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.faq-1 {
	width: 90%;
}
.title {
	font-size: 36px;
	color: #F04D4C;
	font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
p {
	font-family: 'Roboto', sans-serif;
    font-size: 28px;
}
p b {
	font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.faq-2 {
	!important
	height: auto;
}
.faq-3 {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.faq-4 {
	display: flex;
    justify-content: space-around;
    width: 90%;
}
.faq-3 a {
	color: black;
    font-size: 28px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
a:hover {
	color: #F04D4C;
	text-decoration: underline;
}