.intelligence {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.intelligence-1 {
	width: 90%;
}
.title {
	font-size: 36px;
	font-family: Roboto, sans-serif;
}
.intelligence-2 {
	display: flex;
	flex-wrap: wrap;
}
.intelligence-3 {
	margin: 15px;
}
.document {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 16px;
	height: 400px;
	width: 50%;
}
.document a {
	text-decoration: none;
	color: #7bd0f3;
	margin: 5px;
}