* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: white;
}
.three {
	display: flex;
	justify-content: center;
}
.item {
	display: flex;
	flex-direction: column;
	width: 90%;

}
.fasad {
	border-radius: 10px;
}
.news {
	display: flex;
	flex-direction: column;
}
.item-1 {
	display: flex;
	justify-content: space-around;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
}
.news-1 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: red;
	text-align: center;
	text-decoration: none;
}
.services {
}
.services-1 {
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	border-radius: 10px;
	width: 350px;
	box-shadow: 2px 2px 2px 3px #d3cece;
}
.services_item {
	display: flex;
	justify-content: space-evenly;
}
.services-3 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 10px;
}
h2 {
	font-family: 'Roboto', sans-serif;
	padding: 10px;
}
.services-4 {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 18px;
	margin: 8px;
}
.partners {
	display: flex;
	flex-direction: column;
}
.partners-1 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.img {
	border-radius: 15px;
	width: 300px;
	box-shadow: 2px 2px 2px 3px #d3cece;
}
.img-1 {
	margin-top: 10px;
}
.trust-1 {
	line-height: 40px;
}
.trust-2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: blue;
	text-align: center;
	text-decoration: none;
}
p b {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}
a:hover {
	color: #F04D4C;
	text-decoration: underline;
}